.btn {
  // @include mg-s;
  @include pd-s;
  position: relative;
  font-family: $main-font-family;
  color: $text-white;
  border: none;
  border-radius: 5px;
  background-color: $main-color;
  font-weight: 500;
  font-size: 0.8rem;
  outline: none;
  user-select: none;
  white-space: nowrap;

  &.material-icons-outlined {
    font-size: 1rem;
  }

  &:hover {
    @include hoverBtn;
  }

  &:active {
    @include mouseDownBtn;
  }

  &-circle {
    @include shadow;
    display: flex;
    position: absolute;
    font-size: 0.6rem;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }

  &-flex {
    @include mg-s;
  }

  &-selective {
    @include mg-s;
    &:hover {
      @include hoverBtn;
      @include pd-s-bfix();
      border: 1px dotted;
    }

    &:active {
      @include mouseDownBtn;
    }
  }

  &.selected {
    @include pd-s-bfix();
    border: 1px dashed $main-color;
  }

  &-label {
    color: $main-color-lightest;
    font-weight: 600;
    padding: 0;
    background: transparent;
    font-size: 0.95rem;
    // margin: 0 1rem 0.4rem 0rem;

    &:hover {
      @include hoverBtn;
      color: $sec-color;
      padding: unset;
      border: unset;
    }

    &:active {
      background: transparent;
      color: $sec-color-lighter;
      padding: unset;
      border: unset;
    }

    &.selected,
    i .selected {
      color: $sec-color;
      padding: unset;
      border: unset;
    }
  }

  &-danger {
    color: $text-white;
    background-color: $danger;
  }

  &-danger {
    color: $text-white;
    background-color: $danger;
  }

  &-light {
    color: $text-black;
    background-color: #ffffff;
  }

  &-icon {
    font-family: "Material Icons Outlined";
  }

  &-tsp {
    color: $main-color;
    background-color: transparent;
    border: 1px solid $main-color;
    @include pd-s-bfix();
    &:hover {
      border: 1px dotted;
    }
    &:active {
      background: #fff;
    }
  }

  &-sec-color {
    background-color: $sec-color-lightest;
    // color: $main-color;

    &.selected {
      color: $text-white;
      background-color: $sec-color;
      border-color: white;
      &:active {
        background-color: $sec-color-light;
      }
    }

    &:active {
      background-color: $sec-color-lightest;
    }
  }
}
